/* メニューバー */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: #4a4e69;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  box-sizing: border-box;
  height: 60px;
}

.content {
  width: 100%;
  padding-top: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

h1,
h2 {
  text-align: left;
  color: #4a4e69;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #fff;
}

th,
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f4f4f4;
}

tr:hover {
  background-color: #f1f1f1;
}

/* 授業名リンクのスタイル */
.class-link {
  color: #4a90e2;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.class-link:hover {
  color: #ff6347;
}

/* 変更を送信するボタン */
.submit-button {
  background-color: #4a4e69;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 0.9em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.submit-button:hover {
  background-color: #b5838d;
}

/* 検索ボックスのスタイル */
.search-container {
  display: flex;
  justify-content: space-between;
  /* h2 を左端、ボックスを右端に配置 */
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.teacher-search-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.search-box {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
  box-sizing: border-box;
}

.search-select {
  padding: 8px;
  font-size: 14px;
}

/* h2の位置調整 */
.search-container h2 {
  margin: 0;
  flex-shrink: 0;
  /* h2のサイズが変わらないよう固定 */
  color: #4a4e69;
}

/* セレクトボックスと検索ボックスを右端で横並び */
.search-controls {
  display: flex;
  gap: 10px;
}

/* 一致した行のスタイル */
tr.highlight {
  background-color: #ffe4b5;
  /* ハイライト色 */
}

.class-sort-button,
.other-sort-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 12px;
  color: #4a90e2;
  margin-left: 5px;
  padding: 0;
}

.class-sort-button:hover,
.other-sort-button:hover {
  color: #ff6347;
}

/* ジャンプリンクのスタイル */
.jump-link {
  color: #4a90e2;
  /* メインのリンク色 */
  font-weight: bold;
  text-decoration: none;
  margin-left: 10px;
  /* 文から少し余白をつける */
  transition: color 0.3s ease;
}

.jump-link:hover {
  color: #ff6347;
  /* ホバー時のリンク色 */
  text-decoration: underline;
  /* ホバー時の装飾 */
}

.empty-message {
  text-align: center;
}
