/* フォームのスタイル */
form {
  width: 100%;
  max-width: 400px;
  /* フォームの最大幅を設定 */
  padding: 20px;
  background: #fff;
  /* 背景色を追加 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* ボックスシャドウを追加 */
  border-radius: 8px;
  /* 角を丸くする */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

form .form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}


form .btn {
  width: 48%;
  padding: 10px;
  background-color: #4a4e69;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form .btn:hover {
  background-color: #b5838d;
}

form .btn-reset {
  background-color: #fd4141;
}

form .btn-reset:hover {
  background-color: #ff7575;
}

/* メニューバー */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 20px;
  background-color: #4a4e69;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  box-sizing: border-box;
  height: 60px;
}

.container {
  max-width: 800px;
  /* コンテナの最大幅を設定 */
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
  text-align: left;
  color: #4a4e69;
}

.center {
  width: fit-content;
  margin: auto;
}

.center th {
  text-align: left;
  vertical-align: top;
}

#gakuseki_chk,
#mail_chk {
  display: none;
  color: red;
}
