<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Event Details</title>
</head>

<body>
  <h1>Events on [[${selectedDate}]]</h1>

  <div th:if="${events != null}">
    <h2>予定一覧</h2>
    <ul>
      <li th:each="event : ${events}">
        <div>
          <h3 th:text="${event.title}"></h3>
          <p th:text="${event.description}"></p>
          <p th:text="${event.location}"></p>
          <p>終日: <span th:text="${event.isAllDay ? 'Yes' : 'No'}"></span></p>
          <p>開始時間: <span th:text="${event.startTime}"></span></p>
          <p th:if="${event.endTime != null}">終了時間: <span th:text="${event.endTime}"></span></p>
        </div>
      </li>
    </ul>
  </div>

  <h2>予定の追加</h2>
  <form th:action="@{/calendar/addEvent}" method="post">
    <input type="hidden" name="date" th:value="${selectedDate}" /></br>

    <label for="title">予定タイトル(必須):</label>
    <input type="text" id="title" name="title" required /></br>

    <label for="description">詳細:</label>
    <textarea id="description" name="description"></textarea></br>

    <label for="start_time">開始時間:</label>
    <input type="time" id="start_time" name="start_time" /></br>

    <label for="end_time">終了時間:</label>
    <input type="time" id="end_time" name="end_time" /></br>

    <label for="location">場所:</label>
    <input type="text" id="location" name="location" /></br>

    <label for="is_all_day">終日:</label>
    <input type="checkbox" id="is_all_day" name="is_all_day" /></br>

    <!--<button type="submit">追加</button>-->
  </form>

    <button onclick="location.href='/calendar'">戻る</button>
</body>

</html>
