<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ユーザー情報</title>
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/join.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
  <div class="navbar">
    <a href="/timetable" class="link">
      <i class="fa-solid fa-table"></i>時間割
    </a>
    <a href="/todolist" class="link">
      <i class="fa-solid fa-list"></i>やることリスト
    </a>
    <a href="/setting" class="link">
      <i class="fa-solid fa-gear"></i> 設定
    </a>
    <a href="/calendar" class="link">
      <i class="fa-regular fa-calendar"></i>カレンダー
    </a>
    <form id="logoutForm" th:action="@{/logout}" method="post" style="display: inline;">
      <input type="hidden" id="logoutCsrf" name="${_csrf.parameterName}" value="${_csrf.token}" />
      <button type="submit" class="link">
        <i class="fa-solid fa-right-from-bracket"></i>ログアウト
      </button>
    </form>
  </div>

  <div class="title-container">
    <h1>ユーザー一覧</h1>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>学籍番号</th>
          <th>メールアドレス</th>
        </tr>
      </thead>
      <tbody>
        <!-- usersリストの各項目を表示 -->
        <tr th:each="user : ${users}">
          <td>
            <form th:action="@{/join/permissionStatus}" method="get">
              <input type="hidden" name="userNumber" th:value="${user.myNumber}" />
              <button type="submit" class="gakuseki-link" th:text="${user.myNumber}"></button>
            </form>
          </td>
          <td th:text="${user.mail}"></td>
        </tr>
      </tbody>
    </table>
    <!-- Bootstrap JS -->
    <form th:action="@{/join/permissionStatusShow}" method="get" style="position: relative;">
      <button type="submit" class="btn btn-info position-relative">
        許可状況確認
        <!-- 通知バッジ -->
        <span class="badge-notification" th:if="${message != null}">
          <i class="fa-solid fa-bell"></i>
        </span>
      </button>
      <div th:if="${message}" class="mt-2 text-danger">[[${message}]]</div>
    </form>
  </div>
</body>

</html>
