<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ログイン</title>
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/login.css">
</head>

<body class="bg-light">
  <!-- メニューバー -->
  <div class="navbar">
    <a href="/index.html" class="link">戻る</a>
  </div>

  <!--新規登録 -->
  <form action="#" th:action="@{/login}" method="post">
    <!--/* エラーメッセージ */-->
    <p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
      th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">
      ログインエラーメッセージ</p>
    <div class="container my-1">
      <div class="row m-3 justify-content-center">
        <div class="col-md-12">
          <input type="text" id="accountId" name="accountId" class="form-control" placeholder="学籍番号" required autofocus>
        </div>
      </div>
      <div class="row m-3 justify-content-center">
        <div class="col-md-12">
          <input type="password" id="pw" name="pw" class="form-control" placeholder="パスワード" required>
        </div>
      </div>
      <div class="row m-3 justify-content-center">
        <div class="col-md-12">
          <button class="btn btn-lg btn-primary btn-block" type="submit" id="log-in">ログイン</button>
        </div>
      </div>
    </div>
  </form>
</body>

</html>
