<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
  <meta charset="UTF-8">
  <title>カレンダー閲覧許可申請</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<body>
  <div class="container mt-5">
    <h2 class="text-center">カレンダー閲覧許可申請</h2>
    <h4>現在[[${userNumber}]]のカレンダーを閲覧する許可がありません。</br>申請して下さい。</h4></br>
    <p th:text="'申請者: ' + ${myNumber}"></p>
    <p th:text="'相手の学籍番号: ' + ${userNumber}"></p>
    <form th:action="@{/join/requestPermission}" method="post" class="mt-4">
      <input type="hidden" name="userNumber" th:value="${userNumber}" />
      <button type="submit" class="btn btn-primary w-100">許可を申請</button>
    </form>
  </div>
</body>

</html>
