<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="_csrf" content="${_csrf.token}">
  <meta name="_csrf_header" content="${_csrf.parameterName}">
  <title>パスワードの変更</title>
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/eventDetails.css"> <!-- 戻るリンクを左端に -->
  <link rel="stylesheet" href="/css/settings.css">
  <link rel="stylesheet" href="/css/message.css">
  <script src="/js/validation.js"></script>
  <script src="js/logout.js"></script>
</head>

<body>
  <div class="navbar">
    <a href="/setting" class="link always-visible">戻る</a>
  </div>
  <div class="setting-container">
    <h1>パスワードの変更</h1>

    <div th:if="${message != null}" th:class="'message ' + (${isSuccess} ? 'success' : 'error')">
      <p th:text="${message}"></p>
    </div>

    <form id="passwordForm" method="post" th:action="@{/setting/password}">
      <div class="form-group">
        <label for="password">新しいパスワード</label>
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
        <input type="password" id="password" name="password" class="form-control" required>
        <span id="pass_chk" class="error-message" style="visibility: hidden;">パスワードを入力してください</span>
      </div>
      <div class="form-group">
        <label for="repassword">パスワード再入力</label>
        <input type="password" id="repassword" name="repassword" class="form-control" required>
        <span id="repass_chk" class="error-message" style="visibility: hidden;">パスワードが一致しません</span>
      </div>
      <button type="submit" id="submitButton" class="btn">変更</button>
    </form>

  </div>

</body>

</html>
