<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>担当授業設定</title>
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="/css/settings.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="js/common.js"></script>
</head>

<body>
  <!-- メニューバー -->
  <div class="navbar">
    <a href="/calendar" class="link">
      <i class="fa-regular fa-calendar"></i>カレンダー
    </a>
    <a href="/join" class="link">
      <i class="fa-solid fa-street-view"></i>結合
    </a>
    <a href="/timetable" class="link">
      <i class="fa-solid fa-table"></i>時間割
    </a>
    <a href="/todolist" class="link">
      <i class="fa-solid fa-list"></i>やることリスト
    </a>
    <a href="/teacherSetting" class="link" sec:authorize="hasRole('ROLE_TEACHER')">
      <i class="fa-regular fa-paper-plane"></i>
      担当授業設定
    </a>
    <a href="/teacherSetting" class="link" sec:authorize="hasRole('ROLE_TEACHER')">
      <i class="fa-regular fa-paper-plane"></i>
      担当授業設定
    </a>
    <a href="/setting" class="link">
      <i class="fa-solid fa-gear"></i> 設定
    </a>
    <form id="logoutForm" th:action="@{/logout}" method="post" style="display: inline;">
      <input type="hidden" id="logoutCsrf" name="${_csrf.parameterName}" value="${_csrf.token}" />
      <button type="submit" class="link">
        <i class="fa-solid fa-right-from-bracket"></i>ログアウト
      </button>
    </form>
    <button class="hamburger" id="hamburger">
      &#9776;
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-menu">
    <a href="/calendar" class="link">
      <i class="fa-regular fa-calendar"></i>カレンダー
    </a>
    <a href="/join" class="link">
      <i class="fa-solid fa-street-view"></i>結合
    </a>
    <a href="/timetable" class="link">
      <i class="fa-solid fa-table"></i>時間割
    </a>
    <a href="/todolist" class="link">
      <i class="fa-solid fa-list"></i>やることリスト
    </a>
    <a href="/teacherSetting" class="link" sec:authorize="hasRole('ROLE_TEACHER')">
      <i class="fa-regular fa-paper-plane"></i>
      担当授業設定
    </a>
    <a href="/setting" class="link">
      <i class="fa-solid fa-gear"></i> 設定
    </a>
    <form id="logoutForm" th:action="@{/logout}" method="post" style="display: inline;">
      <input type="hidden" id="logoutCsrf" name="${_csrf.parameterName}" value="${_csrf.token}" />
      <button type="submit" class="link">
        <i class="fa-solid fa-right-from-bracket"></i>ログアウト
      </button>
    </form>
  </div>
  <div class="setting-container">
    <h1>担当授業設定</h1>
    <!-- 検索フォーム -->
    <div class="setting-options" sec:authorize="hasRole('ROLE_TEACHER')">
      <a href="/teacherSetting/search" sec:authorize="hasRole('ROLE_TEACHER')">
        <i class="fa-solid fa-magnifying-glass"></i>担当授業を探す
      </a>
    </div>
    <div class="setting-options" sec:authorize="hasRole('ROLE_TEACHER')">
      <h1>担当授業一覧</h1>
      <!-- 検索フォーム -->
      <a href="/teacherSetting/list" sec:authorize="hasRole('ROLE_TEACHER')">
        <i class="fa-regular fa-rectangle-list"></i>一覧を表示する
      </a>
    </div>
  </div>
  <!--<div class="setting-container">
    <div class="setting-options" sec:authorize="hasRole('ROLE_TEACHER')">
      <h1>課題設定</h1>

      <a href="/teacherSetting/workSetting" sec:authorize="hasRole('ROLE_TEACHER')">
        <i class="fa-solid fa-list-check"></i>課題を設定する
      </a>
    </div>
  </div> -->

</body>

</html>
