<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="_csrf" content="${_csrf.token}">
  <meta name="_csrf_header" content="${_csrf.parameterName}">
  <title>チームチャット</title>
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/team.css}">
  <link rel="stylesheet" th:href="@{/css/teamChat.css}">
  <script th:src="@{/js/common.js}"></script>
  <script th:src="@{/js/team.js}"></script>
  <script th:src="@{/js/teamChat.js}"></script>
  <script th:src="@{/js/logout.js}"></script>
</head>

<body>
  <!-- フラッシュメッセージ -->
  <div th:if="${message}" class="flash-message" id="flashMessage">
    <p th:text="${message}"></p>
  </div>

  <!-- メニューバー -->
  <div class="navbar">
    <a href="/team" class="link always-visible">戻る</a>
    <h1 th:text="${teamName}"></h1>
    <div class="mainButton-container">
      <button id="mainButton" class="mainButton">チーム管理</button>
      <div id="options" class="option-menu hidden">
        <span class="link always-visible" data-modal-type="description"
          th:attr="data-team-description=${team.teamDescription}" onclick="openModal(this)">チーム説明</span>
        <div th:if="${#authentication.name == team.teamOwner and team.teamType == 'private'}">
          <span class="link always-visible" data-modal-type="code" th:attr="data-team-code=${team.teamCode}" onclick="openModal(this)">チームコード生成</span>
        </div>
        <div th:if="${#authentication.name == team.teamOwner}">
          <span class="link always-visible" data-modal-type="delete" onclick="openModal(this)">チーム削除</span>
        </div>
        <div th:if="${#authentication.name != team.teamOwner}">
          <span class="link always-visible" data-modal-type="leave" onclick="openModal(this)">チーム退会</span>
        </div>
        <div th:if="${#authentication.name == team.teamOwner}">
          <a th:href="@{'/team/member/' + ${teamId}}" class="link always-visible">メンバー管理</a>
        </div>
        <div th:if="${#authentication.name == team.teamOwner}">
          <a th:href="@{'/team/setting/' + ${teamId}}" class="link always-visible">チーム設定</a>
        </div>
      </div>
    </div>
  </div>

  <div class="chat-container" id="chatContainer">
    <div id="teamChats">
      <div th:each="teamChat : ${teamChats}" class="message-container">
        <small th:class="'sender-id ' + (${teamChat.senderId} == ${#authentication.name} ? 'self' : 'other')"
          th:text="${teamChat.senderId}"></small>
        <div th:class="'message ' + (${teamChat.senderId} == ${#authentication.name} ? 'self' : 'other')">
          <span th:text="${teamChat.message}"></span>
        </div>
      </div>
    </div>
  </div>

  <form id="messageForm" th:action="@{'/team/chat/' + ${teamId}}" method="post">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
    <input type="hidden" id="teamId" th:value="${teamId}" />
    <input type="hidden" id="userId" th:value="${#authentication.name}" /> <!-- ユーザーIDを追加 -->
    <textarea name="message" id="messageInput" rows="4" placeholder="メッセージを入力" required /></textarea>
    <button type="submit" class="btn">送信</button>
  </form>

  <!-- モーダル -->
  <div id="teamModal" class="modal hidden">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <h3 id="modalTeamName">チーム名</h3>
      <p id="modalTeamDescription">説明</p>
      <form method="post" style="display:none;">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
        <input type="hidden" name="teamId" id="teamId" th:value="${team.id}" />
        <button type="submit" class="submit-btn">送信</button>
      </form>
    </div>
  </div>

</body>

</html>
