<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="_csrf" content="${_csrf.token}">
  <meta name="_csrf_header" content="${_csrf.parameterName}">
  <title>チーム作成</title>
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" th:href="@{/css/team.css}">
  <link rel="stylesheet" th:href="@{/css/register.css}">
  <script th:src="@{/js/common.js}"></script>
  <script th:src="@{/js/team.js}"></script>
  <script th:src="@{/js/logout.js}"></script>
</head>

<body>
  <!-- メニューバー -->
  <div class="navbar">
    <a href="/team" class="link always-visible">戻る</a>
  </div>

  <form method="post" th:action="@{/team/create}">
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />

    <table>
      <colgroup>
        <col style="width: 40%;">
        <col style="width: 60%;">
      </colgroup>
      <h2>チーム作成</h2>
      <tr>
        <th><label for="teamName">チーム名</label></th>
        <td>
          <input id="teamName" type="text" placeholder="チーム名を入力" name="teamName" class="form-control" maxlength="20" required >
          <small>20文字以内で入力してください</small>
        </td>
      </tr>
      <tr>
        <th><label for="teamType">タイプ</label></th>
        <td>
          <select id="teamType" name="teamType" class="form-control" required>
            <option value="">選択してください</option>
            <option value="private">プライベート</option>
            <option value="public">パブリック</option>
          </select>
        </td>
      </tr>
      <tr>
        <th><label for="description">説明</label></th>
        <td>
          <textarea id="description" name="description" class="form-control" rows="5" maxlength="200" placeholder="任意入力"></textarea>
          <small>200文字以内で入力してください</small>
        </td>
      </tr>
    </table>
    <div class="form-group">
      <button type="submit" class="btn" id="create">作成</button>
    </div>
  </form>

</body>

</html>
