<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>カレンダー</title>
</head>

<body>
  <table border="1">
    <tr>
      <th>＼</th>
      <th>月</th>
      <th>火</th>
      <th>水</th>
      <th>木</th>
      <th>金</th>
      <th class="saturday">土</th>
    </tr>
    <tr><th>1限目</th><td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td></tr>

    <tr><th>2限目</th><td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td></tr>

    <tr><th>3限目</th><td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td></tr>

    <tr><th>4限目</th><td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td></tr>

    <tr><th>5限目</th><td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td></tr>


  </table>
</body>

</html>
