<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TODOリスト</title>
  <link rel="stylesheet" href="css/common.css">
  <link rel="stylesheet" href="css/todolist.css">
</head>

<body>
  <!-- メニューバー -->
  <div class="navbar">
    <a href="/calendar" class="link">カレンダー</a>
    <a href="/join" class="link">結合</a>
    <a href="/timetable" class="link">時間割</a>
    <form id="logoutForm" th:action="@{/logout}" method="post" style="display: inline;">
      <input type="hidden" id="logoutCsrf" name="${_csrf.parameterName}" value="${_csrf.token}" />
      <button type="submit" class="link">ログアウト</button>
    </form>
  </div>

  <div class="title-container">
    <h1>TODOリスト</h1>

    <form th:action="@{/todolist/add}" th:object="${newTodo}" method="post" class="form-container">
      <input type="text" th:field="*{title}" placeholder="タイトル (必須)" required />
      <input type="text" th:field="*{description}" placeholder="説明 (任意)" />
      <button type="submit">追加</button>
    </form>

    <!-- TODOリスト -->
    <ul class="todo-list">
      <li th:each="todo : ${todos}" class="todo-item">
        <div>
          <!-- 完了かどうかのチェックマーク -->
          <span class="status-icon" th:text="${todo.completed ? '✓' : '　'}"></span>

          <span class="todo-title" th:text="${todo.title}"></span>
          <p class="todo-description" th:text="${todo.description}"></p>
        </div>

        <div class="todo-actions">
          <form th:action="@{/todolist/update/{id}(id=${todo.id})}" method="post">
            <button type="submit" name="completed" th:value="${!todo.completed}" class="completed-btn"
              th:text="${todo.completed ? '未完了にする' : '完了にする'}"></button>
          </form>
          <form th:action="@{/todolist/delete/{id}(id=${todo.id})}" method="post">
            <button type="submit" class="delete-btn">削除</button>
          </form>
        </div>
      </li>
    </ul>
  </div>
</body>

</html>
